{% extends "base.html" %}
{% block content%}
<div class="container">
        <div class="col-xs-12 col-md-10">
            <br><ol class ="breadcrumb">
                <li><a href="index">首页</a></li>
                <li><a href="index">图书信息管理</a></li>
            </ol>
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>图书名称</th>
                            <th>发布日期</th>
                            <th>出版社</th>
                            <th>存放位置</th>
                            <th>图书总数量</th>
                            <th>图书库存</th>
                        </tr>
                        <tr>
                        {% for book in bookinfo %}
                            <td>{{book.book_name}}</td>
                            <td>{{book.book_publish_date}}</td>
                            <td>{{book.book_press}}</td>
                            <td>{{book.book_loc}}</td>
                            <td>{{book.book_sum}}</td>
                            <td>{{book.book_stock}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% include "paginator.html"%}
        </div>
       
{% endblock %}